*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*INDEX*/
h5{
    text-align: center;
    margin-top: 2rem !important;
    margin-bottom: 1.5rem !important;
}

.row{
    text-align: center;
    justify-content: center;
}

.btn{
    margin-bottom: 2rem;
}

#grid__container__index{
    display: grid;
    grid-template-areas:
        "menu"
        "promo"
        "bestsellers"
        "testimonios"
        "footer";
    grid-template-rows: auto auto auto auto auto auto;
}

.body{
    padding: 90px 20px 0;
}

.logo{
    margin-left: 5rem;
}

.nav-item{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0.20rem;
    border-radius: 2px, white;
}

.nav-item:hover{
    color: brown;
    transition: color 0.5s;
}




/*SOBRE MI*/
.sobremi{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.sobremi__div1{
    width: 500px;
    height: 320px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    text-align: center;
}

.sobremi__img{
    width: 100%;
    height: 100%;
}

.sobremi__titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #F6E586;
    padding: 1rem;
}

.sobremi__parrafo{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 1rem;
    line-height: 1.5;
    text-align: justify;
}

.sobremi__div2{
    width: 500px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}



/*TORTAS CLASICAS*/
#grid__container__tortas{
    display: grid;
    grid-template-areas:
        "menu"
        "tortas"
        "footer";
    grid-template-rows: auto auto auto;
}

#tortas{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-left: 5.6rem;
    margin-right: 5.6rem;
    grid-area: tortas;
}

.tortas__titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 3rem;
    background-color: #F6E586;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
}

.tortas__box{
    margin-top: 3rem;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 200px;
    height: 280px;
}

.txt{
    text-align: center;
    align-items: center;
    position: absolute;
    transition: all .3s;
    transform: scale(1.10);
    opacity: 0;
}

.txt:hover{
    transform: scale(1);
    opacity: 1;
}

.texto__tortas{
    color: rgb(0, 0, 0);
    padding: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}


.tortas__img{
    width: 100%;
}


#tortas2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-left: 5.6rem;
    margin-right: 5.6rem;
    margin-bottom: 3rem;
}

.tortas__box2{
    margin-top: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 200px;
    height: 280px;
}

/*DESAYUNOS*/
.desayunos__div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.desayunos__texto{
    width: 450px;
    height: 300px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.desayunos__titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 3rem;
    background-color: #F6E586;
    padding: 1rem;
}

.desayunos__parrafo{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.25;
}

.desayunos__divimg{
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 450px;
    height: 300px;
}

.desayunos__img{
    width: 100%;
    height: 100%;
}


/*CONTACTO*/

/* .contacto{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-arround;
} */

.contacto__div{
    width: 400px;
    height: 300px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.contacto__titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 1rem;
    margin-top: 2rem;
    text-align: left;
    background-color:#F6E586;
}

.contacto__parrafo{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 1rem;
    text-align: left;
}

.formulario{
    width: 500px;
    height: 300px;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.contacto__imgdiv{
    width: 500px;
    height: 300px;
}

.imagen__contacto{
    width: 100%;
    height: 100%;
}

/* .paraelcafe{
    width: 450px;
    text-align: center;
}

.paraelcafe__box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3rem;
}


.paraelcafe__titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 1rem;
    background-color: #F6E586;
}

.paraelcafe__parrafo{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 1rem;
} */




@media (max-width:999px) {
    .sobremi__div1{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .sobremi__div2{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

@media (max-widht: 923px) {
    .desayunos__texto{
        width: 450px;
        height: 100px;
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }

    .desayunos__divimg{
        width: 450px;
        height: 100px;
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
}



@media (max-width: 768px) {
    .body{
        padding-top: 70px;
    }
    
    .promo__subtitulo{
        font-size:20px;
    }

    .promo__box2{
        width: 320px;
        height: 260px;
    }

    .button{
        padding: 0.5rem;
    }
           
    #bestsellers{
        margin-bottom: 0.5rem;
    }
    .bestsellers__img{
        width: 200px;
        height: 260px
    }
}

@media (max-width:616px){
    .promo__box1{
        margin-top: 1rem;
        height: 200px;
    }

    .promo__box2{
        height: 230px;
        margin-bottom: 1rem;
    }

    .testimonios__img{
        width: 350px;
        height: 350px;
    }

    .contacto__titulo{
        font-size: 15px;
    }

    .footer__container{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .sobremi__titulo{
        font-size: 16px;
    }

    .sobremi__parrafo{
        font-size: 14px;
    }

    .sobremi__div1{
        width: 350px;
        height: 250px;
    }
}

@media (max-width:550px) {
    .sobremi{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}


@media (max-width:410px){
    .footer__titulo{
        font-size: 12px;
    }

    .footer__parrafo{
        font-size: 11px;
    }

    .testimonios__img{
        width: 320px;
        height: 320px;
    }

    .promo__box2{
        height: 200px;
    }

}