*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*CONTACTO*/



@media (max-width: 576px) {

    .contacto{
        display: flex;
        flex-flow: column;
    }

    /* .formulario{
        width: 100%;
    }

    .contacto__imgdiv{
        width: 100%;
    } */
    
}