.footer{
    background-color: rgb(0, 0, 0);
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    grid-area: footer;

    .footer__box{
        width: 300px;

        .footer__titulo{
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: bold;
            color: white;
            padding-bottom: 1.5rem;
        }
    
        .footer__parrafo{
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            color: white;
        }
    }
}


@media (max-widht: 576px) {

    .footer{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;

        .footer__titulo{
            font-size: 12px;
        }
    
        .footer__parrafo{
            font-size: 11px;
        }
    }
}



@media (max-width: 999px) {
    .footer{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        background-color: rgb(22, 22, 22);
    }

    .footer__titulo{
        margin-top: 2rem;
    }
}