/*CONTACTO*/

.contacto{
    margin-top: 3rem;
    margin-bottom: 3rem;
    
    .contacto__contenedor{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;

        .contacto__texto{
            width: 500px;
            padding: 2rem;
    
            .contacto__titulo{
                font-family: 'Montserrat', sans-serif;
                font-size: $fuente-titulos;
                font-weight: 400;
                text-transform: uppercase;
                padding: 1rem;
                margin-top: 2rem;
                text-align: left;
                background-color: $color-fondos;
            }
    
            .contacto__parrafo{
                font-family: 'Open Sans', sans-serif;
                font-size: $fuente-parrafos;
                font-weight: 400;
                line-height: 1;
                padding: 1rem;
                text-align: left;
            }
        }

        .formulario{
            width: 500px;
            justify-content: left;
            align-items: center;
            padding: 2rem;
        }

        .btn{
            background-color: black;
            color: white;
            border-radius: 3px;
        }

        .btn__cancelar{
            @extend .btn;
            margin-top: 1rem;
            background-color: rgb(39, 38, 38);
        }
    }

}