.promo{
    background-color: #F6E586;
    margin-top: 1rem;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .__box1{
        width: 300px;
        height: 250px;
        margin-top: 4rem;
    }
    .__box2{
        text-align: center;
    }
    .__box3{
        width: 415px;
        height: 250px;
        margin-top: 2rem;
    }
    .__subtitulo{
        font-family: 'Josefin Sans', sans-serif;
        font-style: normal;
        font-size:27px;
        font-weight: 400;
        line-height: 35px;
        color: black;
        padding-bottom: 1rem;
        text-align: center;
        letter-spacing: 1px;
    }
    .__img{
        width: 100%;
        height: 100%;
        margin-bottom: 2rem;
    }

}

.button{
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding: 0.75rem;
}

.bestsellers__titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
}
.bestsellers__letra__subtitulo{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem;
    text-align: center;
    margin-bottom: 2.2rem;
}

#bestsellers{
    margin-left: 3rem;
    margin-right: 3rem;
    grid-area: bestsellers;
    display: flex;
    flex-flow: row  wrap;
    justify-content: space-around;

    .__div{
        margin-bottom: 1.75rem;
        transition: transform .7s;
    
        &__div:hover{
            transform: scale(1.15,1.10);
        }
    }
    .__img{
        width: 230px;
        height: 260px;
    }
    
}

#testimonios{
    background-color: #F6E586;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    grid-area: testimonios;

    .__titulo{
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 1rem;
        text-align: center;
        padding-top: 2rem;
    }
    .__parrafo{
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        padding: 1rem;
        text-align: center;
    }
    .__box{
        display: flex;
        flex-flow: row  wrap;
        justify-content: space-around;
    }
    .__img{
        width: 300px;
        height: 300px;
        margin-bottom: 2rem;
    }
    .__imagen{
        width: 100%;
    }
}
