.promo{
    background-color: $color-fondos;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    .promo__box1{
        width: 300px;
        margin-top: 4rem;
        margin-bottom: 4rem;
        align-items: center;
        text-align: center;
    
        .promo__subtitulo{
            font-family: 'Josefin Sans', sans-serif;
            font-style: normal;
            font-size:27px;
            font-weight: 400;
            line-height: 35px;
            color: $color-primario;
            padding-bottom: 1rem;
            text-align: center;
            letter-spacing: 1px;
        }

        .promo__button{
            background-color: $color-primario;
            color: $color-secundario;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 1rem;
            padding: 0.75rem;
        }
    }

    .promo__box2{
        width: 415px;
        margin-top: 4rem;
        margin-bottom: 4rem;

        .promo__img{
            width: 100%;
        }
    }
}

#bestsellers{
    margin-left: 3rem;
    margin-right: 3rem;
    grid-area: bestsellers;

    .bestsellers__titulo{
        font-family: 'Montserrat', sans-serif;
        font-size: $fuente-titulos;
        font-weight: 400;
        text-transform: uppercase;
        padding: 1rem;
        margin-top: 2rem;
        text-align: center;
    }

    .bestsellers__letra__subtitulo{
        font-family: 'Open Sans', sans-serif;
        font-size: $fuente-parrafos;
        font-weight: 400;
        padding: 1rem;
        text-align: center;
        margin-bottom: 2.2rem;
    }

    .bestsellers__box{
        display: flex;
        flex-flow: row  wrap;
        justify-content: space-around;
        margin-bottom: 2rem;

        .bestsellers__div:hover{
            transform: scale(1.15,1.10);
        }

        .bestsellers__div{
            margin-bottom: 1.75rem;
            transition: transform .7s;

            .bestsellers__img{
                width: 230px;
                height: 260px;
            }
        }
    }        
}

#testimonios{
    background-color: $color-fondos;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    grid-area: testimonios;

    .testimonios__titulo{
        font-family: 'Montserrat', sans-serif;
        font-size: $fuente-titulos;
        font-weight: 400;
        text-transform: uppercase;
        padding: 1rem;
        text-align: center;
        padding-top: 2rem;
    }
    .testimonios__parrafo{
        font-family: 'Open Sans', sans-serif;
        font-size: $fuente-parrafos;
        font-weight: 400;
        line-height: 1.5;
        padding: 1rem;
        text-align: center;
    }
    .testimonios__box{
        display: flex;
        flex-flow: row  wrap;
        justify-content: space-around;

        .testimonios__boximg{
            width: 340px;
            height: 320px;
            margin-bottom: 2rem;

            .testimonios__img{
                width: 100%;
            }
        }
    }
}


@media (max-width: 768px){
    .promo{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .promo__box2{
        padding-bottom: 3rem;
    }
}

