#presentation{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;

    .parallax{
        background-image: url(.././img/assortment-of-pieces-of-cake.jpg);
        height: 650px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    
        .parallax__text1{
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            text-align: left;
            text-transform: uppercase;
            font-size: 30px;
            padding-top: 270px;
            margin-left: 2rem;
        }

        .parallax__text2{
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            text-align: left;
            font-size: 23px;
            margin-left: 2rem;
            padding-top: 1rem;
        }
    }
}

.valores{
    background-color: $color-fondos;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .valores__box1{
        width: 500px;
        align-items: left;

        .valores__textos{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            margin-bottom: 2rem;

            .valores__titulo{
                font-family: 'Josefin Sans', sans-serif;
                font-weight: 400;
                font-size: $fuente-titulos;
                text-align: left;
                padding-bottom: 1rem;
            }

            .valores__parrafo{
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                font-size: 14px;
                text-align: left;
            }
        }
    }

    .promo__box2{
        width: 350px;

        .promo__img{
            width: 100%;
        }
    }
}

#bestsellers{
    margin-left: 2rem;
    margin-right: 2rem;
    grid-area: bestsellers;

    .bestsellers__titulo{
        font-family: 'Montserrat', sans-serif;
        font-size: $fuente-titulos;
        font-weight: 400;
        text-transform: uppercase;
        padding: 1rem;
        margin-top: 2rem;
        text-align: center;
    }

    .bestsellers__letra__subtitulo{
        font-family: 'Open Sans', sans-serif;
        font-size: $fuente-parrafos;
        font-weight: 400;
        padding: 1rem;
        text-align: center;
        margin-bottom: 2.2rem;
    }

    .bestsellers__box{
        display: flex;
        flex-flow: row  wrap;
        justify-content: space-around;
        margin-bottom: 2rem;

        .bestsellers__div:hover{
            transform: scale(1.15,1.10);
        }

        .bestsellers__div{
            margin-bottom: 1.75rem;
            transition: transform .7s;
            cursor: pointer;

            .bestsellers__img{
                width: 230px;
                height: 260px;
            }
        }
    }        
}

#testimonios{
    background-color: $color-fondos;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    grid-area: testimonios;

    .testimonios__titulo{
        font-family: 'Montserrat', sans-serif;
        font-size: $fuente-titulos;
        font-weight: 400;
        text-transform: uppercase;
        padding: 1rem;
        text-align: center;
        padding-top: 2rem;
    }
    .testimonios__parrafo{
        font-family: 'Open Sans', sans-serif;
        font-size: $fuente-parrafos;
        font-weight: 400;
        line-height: 1.5;
        padding: 1rem;
        text-align: center;
    }
    .testimonios__box{
        display: flex;
        flex-flow: row  wrap;
        justify-content: space-around;

        .testimonios__boximg{
            width: 340px;
            height: 320px;
            margin-bottom: 2rem;

            .testimonios__img{
                width: 100%;
            }
        }
    }
}


@media (max-width: 768px){
    .promo{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .promo__box2{
        padding-bottom: 3rem;
    }
}

@media (max-width: 480px) {

    .promo__box2{
        width: 300px;
    }
}