.tortas__titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 3rem;
    background-color: #F6E586;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
}

#tortas{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    .tortas1{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-arround;
        margin-left: 5.6rem;
        margin-right: 5.6rem;
        margin-bottom: 2rem;
    
        .tortas__box{
            margin-left: 3rem;
            display: flex;
            align-items: center;
            cursor: pointer;
            width: 200px;
            height: 280px;
    
            .tortas__img{
                width: 100%;
            }                  
        }
    }

    .tortas2{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin-left: 5.6rem;
        margin-right: 5.6rem;
    
        .tortas__box2{
            margin-left: 3rem;
            display: flex;
            align-items: center;
            cursor: pointer;
            width: 200px;
            height: 280px;

            .tortas__img{
                width: 100%;
            }  
        }
    }
}


















// #tortas2{
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: space-evenly;
//     margin-left: 5.6rem;
//     margin-right: 5.6rem;
//     margin-bottom: 3rem;
// }

// .tortas__box2{
//     margin-top: 1rem;
//     position: relative;
//     display: flex;
//     align-items: center;
//     cursor: pointer;
//     width: 200px;
//     height: 280px;
// }

    


