.tortas__titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: $fuente-titulos;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 3rem;
    background-color: $color-fondos;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
}

#tortas{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    
    .tortas1{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-arround;
        margin-bottom: 2rem;
    
        .tortas__box{
            margin-left: 3rem;
            display: flex;
            align-items: center;
            cursor: pointer;
            width: 200px;
            height: 280px;
    
            .tortas__img{
                width: 100%;
            }                  
        }
    }

    .tortas2{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 2rem;
    
        .tortas__box2{
            margin-left: 3rem;
            display: flex;
            align-items: center;
            cursor: pointer;
            width: 200px;
            height: 280px;

            .tortas__img{
                width: 100%;
            }  
        }
    }
}


