
@media (max-width: 999px) {
    .sobremi{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .sobremi__div2{
        margin-top: 2rem;
    }
}


@media (max-width:576px) {

    .sobremi__titulo{
        font-size: 14px;
    }

    .sobremi__parrafo{
        font-size: 12px;
    }
    
}

@media (max-width: 768px){
    .promo{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .promo__box2{
        padding-bottom: 3rem;
    }
}